/__pycache__
/applications
/dev
/parameters copy 10.xml
/parameters copy 11.xml
/parameters copy 12.xml
/parameters copy 13.xml
/parameters copy 14.xml
/parameters copy 15.xml
/parameters copy 16.xml
/parameters copy 17.xml
/parameters copy 2.xml
/parameters copy 3.xml
/parameters copy 4.xml
/parameters copy 5.xml
/parameters copy 6.xml
/parameters copy 7.xml
/parameters copy 8.xml
/parameters copy 9.xml
/parameters copy.xml